@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
:root{
    --font-primary: #eee;
    --primary: #333745;
    --secondary: #175676;
    --green: #a5c660;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}
body{
    background-color: var(--primary);
    color: var(--font-primary);
}